<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.title }}<br>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    <a class="sidebar-nav-item" href="https://intmus.github.io/inttheory19-20/">IntMus: Theory</a>
    <a class="sidebar-nav-item" href="https://intmus.github.io/intas19-20/">IntMus: Aural Skills</a>

    <a class="sidebar-nav-item{% if page.url == "/about.html" %} active{% endif %}" href="{{ site.baseurl }}/about.html">About</a>
    <a class="sidebar-nav-item{% if page.url == "/archive.html" %} active{% endif %}" href="{{ site.baseurl }}/archive.html">Archive</a>
    <a class="sidebar-nav-item{% if page.url == "/forum/" %} active{% endif %}" href="{{ site.baseurl }}/forum/index.html">Forums</a>
    <a class="sidebar-nav-item{% if page.url == "/search/" %} active{% endif %}" href="{{ site.baseurl }}/search/index.html">Search</a>
    <a class="sidebar-nav-item{% if page.url == "/abc-tutorial.html" %} active{% endif %}" href="{{ site.baseurl }}/abc-tutorial.html">ABC Tutorial</a>
    <a class="sidebar-nav-item{% if page.url == "/abc-playground.html" %} active{% endif %}" href="{{ site.baseurl }}/abc-playground.html">ABC Playground</a>
    <a class="sidebar-nav-item" href="{{ site.github-repo }}">GitHub project</a>
  </nav>

  <div class="sidebar-item">
    <p>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" >CC BY-SA</a> {{ site.published }}. 
    </p>
  </div>
</div>
